body{
    margin: 0%;
}

#section1 {
    position: relative;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* navigation section */

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.589);
  }
  
  nav ul{
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li{
    display: inline-block;
    text-align: center;
    padding: 20px;
    height: 2%;
    font-size: 1.5em;
  }
  
  nav ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  
  /* an underline appears at the bottom on hover of each link */
  nav ul li a:hover, nav ul li a:active{
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
  }
  /* end of navigation section*/